Printing numbers from 1 to 10 using a for loop:

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Calculating the sum of all numbers in a list using a for loop:

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_numbers = 0

for num in numbers:
    sum_numbers += num

print("Sum of numbers:", sum_numbers)

Sum of numbers: 55

Printing the characters of a string in reverse order using a for loop:

In [3]:
my_string = "Hello, World!"
reverse_string = ""

for char in my_string[::-1]:
    reverse_string += char

print("Reversed string:", reverse_string)

Reversed string: !dlroW ,olleH

Finding the factorial of a given number using a for loop:

In [4]:
number = 5
factorial = 1

for i in range(1, number + 1):
    factorial *= i

print("Factorial of", number, "is", factorial)

Factorial of 5 is 120

Printing the multiplication table of a given number using a for loop:

In [5]:
number = 5

for i in range(1, 11):
    print(number, "x", i, "=", number * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Counting the number of even and odd numbers in a list using a for loop:

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = 0
odd_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Number of even numbers: 5
Number of odd numbers: 5

Printing the squares of numbers from 1 to 5 using a for loop:

In [8]:
for i in range(1, 6):
    print("Square of", i, "is", i * i)

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

Finding the length of a string without using the len() function:

In [9]:
my_string = "Hello, World!"
length = 0

for char in my_string:
    length += 1

print("Length of string:", length)

Length of string: 13

Calculating the average of a list of numbers using a for loop:

In [10]:
numbers = [1, 2, 3, 4, 5]
total = 0

for num in numbers:
    total += num

average = total / len(numbers)
print("Average:", average)

Average: 3.0

Printing the first n Fibonacci numbers using a for loop:

In [11]:
n = 10
fibonacci_sequence = [0, 1]

for i in range(2, n):
    next_fib = fibonacci_sequence[-1] + fibonacci_sequence[-2]
    fibonacci_sequence.append(next_fib)

print("First", n, "Fibonacci numbers:", fibonacci_sequence)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Checking if a given list contains any duplicates using a for loop:

In [12]:
def has_duplicates(lst):
    seen = set()
    for item in lst:
        if item in seen:
            return True
        seen.add(item)
    return False

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Does the list contain duplicates?", has_duplicates(my_list))

Does the list contain duplicates? False

Printing the prime numbers in a given range using a for loop:

In [13]:
start = 10
end = 50

for num in range(start, end+1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

11
13
17
19
23
29
31
37
41
43
47

Counting the number of vowels in a string using a for loop:

In [14]:
def count_vowels(string):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

my_string = "Hello, World!"
print("Number of vowels in the string:", count_vowels(my_string))

Number of vowels in the string: 3

Finding the maximum element in a 2D list using a nested for loop:

In [15]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

max_element = float('-inf')

for row in matrix:
    for num in row:
        if num > max_element:
            max_element = num

print("Maximum element in the 2D list:", max_element)

Maximum element in the 2D list: 9

Removing all occurrences of a specific element from a list using a for loop:

In [16]:
my_list = [1, 2, 3, 4, 2, 5, 6, 2]
element_to_remove = 2

new_list = [item for item in my_list if item != element_to_remove]

print("List after removing all occurrences of", element_to_remove, ":", new_list)

List after removing all occurrences of 2 : [1, 3, 4, 5, 6]

Generating a multiplication table for numbers from 1 to 5 using a nested for loop:

In [17]:
for i in range(1, 6):
    print("Multiplication table for", i)
    for j in range(1, 11):
        print(i, "x", j, "=", i * j)
    print()

Multiplication table for 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Converting a list of Fahrenheit temperatures to Celsius using a for loop:

In [18]:
fahrenheit_temperatures = [32, 68, 77, 104]

celsius_temperatures = [(temp - 32) * 5/9 for temp in fahrenheit_temperatures]

print("Fahrenheit Temperatures:", fahrenheit_temperatures)
print("Celsius Temperatures:", celsius_temperatures)

Fahrenheit Temperatures: [32, 68, 77, 104]
Celsius Temperatures: [0.0, 20.0, 25.0, 40.0]

Printing the common elements from two lists using a for loop:

In [19]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = []

for item in list1:
    if item in list2:
        common_elements.append(item)

print("Common elements:", common_elements)

Common elements: [4, 5]

Printing the pattern of right-angled triangles using a for loop:

In [20]:
rows = 5

for i in range(1, rows + 1):
    print('*' * i)

*
**
***
****
*****

Finding the greatest common divisor (GCD) of two numbers using a for loop:

In [21]:
def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

num1 = 24
num2 = 36

print("GCD of", num1, "and", num2, "is", gcd(num1, num2))

GCD of 24 and 36 is 12

Calculating the sum of the digits of numbers in a list using a list comprehension:

In [22]:
numbers = [123, 456, 789]

sum_of_digits = [sum(int(digit) for digit in str(num)) for num in numbers]

print("Sum of digits for each number:", sum_of_digits)

Sum of digits for each number: [6, 15, 24]

Finding the prime factors of a given number using a for loop and list comprehension:

In [23]:
number = 56

prime_factors = [factor for factor in range(2, number + 1) if number % factor == 0 and all(factor % divisor != 0 for divisor in range(2, factor))]

print("Prime factors of", number, ":", prime_factors)

Prime factors of 56 : [2, 7]

Extracting unique elements from a list and storing them in a new list using list comprehension:

In [24]:
original_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]

unique_elements = list(set(original_list))

print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5, 6]

Generating a list of all palindromic numbers up to a specified limit using list comprehension:

In [25]:
limit = 100

palindromic_numbers = [num for num in range(1, limit+1) if str(num) == str(num)[::-1]]

print("Palindromic numbers up to", limit, ":", palindromic_numbers)

Palindromic numbers up to 100 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

Flattening a nested list using list comprehension:

In [26]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

flattened_list = [element for sublist in nested_list for element in sublist]

print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

Computing the sum of even and odd numbers in a list separately using list comprehension:

In [27]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sum_even = sum(num for num in numbers if num % 2 == 0)
sum_odd = sum(num for num in numbers if num % 2 != 0)

print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Sum of even numbers: 30
Sum of odd numbers: 25

Generating a list of squares of odd numbers between 1 and 10 using list comprehension:

In [28]:
squares_of_odd_numbers = [num ** 2 for num in range(1, 11) if num % 2 != 0]

print("Squares of odd numbers between 1 and 10:", squares_of_odd_numbers)

Squares of odd numbers between 1 and 10: [1, 9, 25, 49, 81]

Combining two lists into a dictionary using list comprehension:

In [29]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

combined_dict = {key: value for key, value in zip(keys, values)}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3}

Extracting the vowels from a string and storing them in a list using list comprehension:

In [30]:
my_string = "Hello, World!"
vowels = 'aeiouAEIOU'

vowel_list = [char for char in my_string if char in vowels]

print("Vowels in the string:", vowel_list)

Vowels in the string: ['e', 'o', 'o']

Removing all non-numeric characters from a list of strings using list comprehension:

In [31]:
list_of_strings = ['abc', '123', 'def', '456', 'ghi']

numeric_characters = [char for string in list_of_strings for char in string if char.isdigit()]

print("Numeric characters:", numeric_characters)

Numeric characters: ['1', '2', '3', '4', '5', '6']

Generating a list of prime numbers using the Sieve of Eratosthenes algorithm and list comprehension:

In [32]:
def sieve_of_eratosthenes(limit):
    primes = [True] * (limit + 1)
    primes[0] = primes[1] = False
    for num in range(2, int(limit**0.5) + 1):
        if primes[num]:
            primes[num*num:limit+1:num] = [False] * len(primes[num*num:limit+1:num])
    return [num for num, is_prime in enumerate(primes) if is_prime]

limit = 100
prime_numbers = sieve_of_eratosthenes(limit)
print("Prime numbers up to", limit, ":", prime_numbers)

Prime numbers up to 100 : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

Generating a list of all Pythagorean triplets up to a specified limit using list comprehension:

In [33]:
limit = 20

pythagorean_triplets = [(a, b, c) for a in range(1, limit) for b in range(a, limit) for c in range(b, limit) if a**2 + b**2 == c**2]

print("Pythagorean triplets up to", limit, ":", pythagorean_triplets)

Pythagorean triplets up to 20 : [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15)]

Generating a list of all possible combinations of two lists using list comprehension:

In [34]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

combinations = [(x, y) for x in list1 for y in list2]
print("Combinations:", combinations)

Combinations: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

Calculating the mean, median, and mode of a list of numbers using list comprehension:

In [35]:
import statistics

numbers = [1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10]

mean = sum(numbers) / len(numbers)
median = statistics.median(numbers)
mode = statistics.mode(numbers)

print("Mean:", mean)
print("Median:", median)
print("Mode:", mode)

Mean: 5.454545454545454
Median: 5
Mode: 5

Generating Pascal's triangle up to a specified number of rows using list comprehension:

In [36]:
def generate_pascals_triangle(rows):
    triangle = [[1]]
    for i in range(1, rows):
        row = [1] + [triangle[i-1][j] + triangle[i-1][j+1] for j in range(len(triangle[i-1])-1)] + [1]
        triangle.append(row)
    return triangle

rows = 5
pascals_triangle = generate_pascals_triangle(rows)
print("Pascal's Triangle:")
for row in pascals_triangle:
    print(row)

Pascal's Triangle:
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

Calculating the sum of the digits of the factorial of numbers from 1 to 5 using list comprehension:

In [37]:
import math

sum_of_digit_factorials = [sum(int(digit) for digit in str(math.factorial(num))) for num in range(1, 6)]

print("Sum of digits of factorials:", sum_of_digit_factorials)

Sum of digits of factorials: [1, 2, 6, 6, 3]

Finding the longest word in a sentence using list comprehension:

In [38]:
sentence = "The quick brown fox jumps over the lazy dog"
longest_word = max(sentence.split(), key=len)
print("Longest word:", longest_word)

Longest word: quick

Filtering a list of strings to include only those with more than three vowels using list comprehension:

In [39]:
words = ["hello", "world", "Python", "programming", "AI"]
vowels = 'aeiouAEIOU'

filtered_words = [word for word in words if sum(1 for char in word if char in vowels) > 3]

print("Words with more than three vowels:", filtered_words)

Words with more than three vowels: []

Calculating the sum of the digits of numbers from 1 to 1000 using list comprehension:

In [40]:
sum_of_digits = sum(sum(int(digit) for digit in str(num)) for num in range(1, 1001))

print("Sum of digits from 1 to 1000:", sum_of_digits)

Sum of digits from 1 to 1000: 13501

Generating a list of prime palindromic numbers using list comprehension:

In [41]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_palindromes = [num for num in range(1, 1001) if is_prime(num) and str(num) == str(num)[::-1]]

print("Prime palindromic numbers:", prime_palindromes)

Prime palindromic numbers: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]